<!DOCTYPE html>
<html>

<head>
    <title>Ping URL/Sitemap</title>
    <link rel="stylesheet" type="text/css" href="./static/css/bulma.css" />
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-vcentered">
                    <div class="column">
                        <p class="title">
                            Ping URL.
                        </p>
                        <p class="subtitle">
                            Ping URL via XML-RPC.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-foot">
            <div class="container">
                <nav class="tabs is-boxed">
                    <ul>
                        <li>
                            <a href="./?p=index">Index</a>
                        </li>
                        <li class="is-active">
                            <a href="./?p=list_services">List services</a>
                        </li>
                        <li>
                            <a href="./?p=contact">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <section class="section" id="form_section">
        <div class="container">
            <table class="table">
                <?php 
                    foreach($services as $service) {
                        echo '<tr>';
                        echo '<td>' . $service[1] . '</td>';
                        echo '<td>' . $service[2] . '</td>';
                        echo '</td></tr>';
                    }
                ?>
            </table>


        </div>
    </section>
</body>

</html>